@model Vehicle

<h1>Vehicle Details</h1>

<div>
    <h4>VIN: @Model.VIN</h4>
    <h4>Make: @Model.Make</h4>
    <h4>Model: @Model.Model</h4>
    <h4>Starting Mileage: @Model.CurrentMileage</h4>
    <h4>Fuel Level: @Model.CurrentFuelLevel</h4>
    <h4>Starting Condition: @Model.CurrentCondition</h4>
</div>
