@model Vehicle

<h1>Vehicle Details</h1>

<div>
    <h4>VIN: @Model.VIN</h4>
    <h4>Make: @Model.Make</h4>
    <h4>Model: @Model.Model</h4>
    <h4>Starting Mileage: @Model.StartingMileage</h4>
    <h4>Ending Mileage: @Model.EndingMileage</h4>
    <h4>Fuel Level: @Model.FuelLevel</h4>
    <h4>Starting Condition: @Model.StartingCondition</h4>
    <h4>Ending Condition: @Model.EndingCondition</h4>
    <h4>Reason For Trip: @Model.ReasonForTrip</h4>
</div>
